footer{
	position: relative;
}

article{
	min-width: 1200px;
	margin-top: 100px;
	text-align: center;
}

section{
	border-top: 2px #c0c0c0 solid;
	border-bottom: 2px #c0c0c0 solid;
}

section h2{
	margin: 40px 0 30px 0;
}

section#about p{
	color: black;
	margin: 30px 0 50px 0;
}


/* staff */

section#staff{
	background-color: #96dbf6;
}

section#staff p{
	color: black;
}

section#staff h3{
	margin: 40px 0 20px 0;
}

#japan ul#j_staff{
	width: 910px;
	margin: 10px auto;
}

#korea ul#k_staff{
	width: 520px;
	margin: 10px auto;
}

#japan ul#j_staff li, #korea ul#k_staff li{
	float: left;
	margin: 5px;
}

.balloon {
  position: relative;
  width: 320px;
  height: 70px;
  background-color: white;
  text-align: center;
  padding: 20px;
  line-height: 35px;
  margin: 30px auto 0 auto;
}

.balloon .triangle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#sns{
	margin: 20px 0 50px 0;
}


/* university */

section#university{
	background-color: #194a8d;
}

section#university p{
	color: white;
	margin-bottom: 30px;
}

section#university img{
	display: block;
	margin: 0px auto;
}

section#university img#topback{
	margin: 60px auto;
}