html{
	/*width: 100%;*/
	height: 100%;
	/*overflow: scroll;*/
}

body{
	font-family: "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	font-weight: lighter;
	line-height: 26px;
	letter-spacing: 1px;
	height: 100%;
	position: relative;
	-webkit-text-size-adjust: 100%;
}

p{
	color: #7a7a7a;
	font-size: 14px;
}

a{
	color: #194A8D;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	background-color: white;
	z-index: 9999;
	border-bottom: 4px #c0c0c0 solid;
}

#inner{
	width: 960px;
	height: 100px;
	margin: 0 auto;
}

header h1{
	float: left;
	margin: 35px 30px 0px 0px;
}

nav li{
	float: left;
}

nav li:hover{
	border-bottom: 6px solid black;
}


/* footer */

@media only screen and (min-device-width : 640px) {

	footer{
		text-align: center;
		position: static;
		bottom: 0;
	}

	footer div{
		float: left;
	}

	#footer_center{
		width: 1000px;
		height: 70px;
		background: url("../img/00_footer.png") no-repeat;
	}

	.footer_repeat{
		height: 70px;
		background-image: url("../img/00_footer_repeat.png");
		background-repeat: repeat-x;
	}

}
