p {
  color: black; }

footer {
  position: relative; }

article {
  min-width: 1200px;
  margin-top: 100px;
  text-align: center; }
  article section {
    border-top: 2px #c0c0c0 solid;
    border-bottom: 2px #c0c0c0 solid; }
    article section.work ul.slick {
      margin: 45px auto 0px auto; }
      article section.work ul.slick li img {
        margin: 0 auto;
        width: 480px; }
    article section.work h2.title {
      font-size: 28px;
      margin: 70px 0 30px 0; }
    article section div.author {
      margin: 70px auto 110px auto;
      width: 520px;
      height: auto; }
      article section div.author div {
        float: left;
        height: auto; }
        article section div.author div.author-left {
          width: 170px; }
          article section div.author div.author-left img {
            width: 125px;
            height: 125px; }
        article section div.author div.author-right {
          width: 350px; }
          article section div.author div.author-right h3 {
            margin: -5px 0 5px 0;
            font-size: 14px;
            text-align: left; }
          article section div.author div.author-right table tr td {
            font-size: 14px;
            text-align: left; }
    article section.other-work {
      background-color: #16438f;
      text-align: center; }
      article section.other-work ul {
        width: 735px;
        margin: 40px auto; }
        article section.other-work ul li {
          float: left;
          margin: 5px; }
          article section.other-work ul li a img {
            width: 95px;
            height: 95px; }
      article section.other-work a#topback img {
        margin-bottom: 40px; }

.slick-dots {
  bottom: -40px; }
